:root {
  --font-size-medium: 16px; /* Define el tamaño de fuente medio */
}

.header-title {
  font-weight: 700;
  font-family: var(--secondary-font);
}

/* Estilos del menú lateral */
.list-group-item,
.list-group-item-action {
  text-decoration: none !important;
  color: #000 !important;
  border-radius: 5px !important;
  padding: 6px 12px !important;
  font-size: var(--font-size-medium) !important;
  cursor: pointer;
  background-color: transparent !important;
  border: none !important;
  text-align: left;
}

.list-group-item:hover,
.list-group-item-action:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.list-group-item.active {
  background-color: #ffffff !important;
  color: #000000 !important;
  font-weight: bold !important;
}

/* Estilo para el ícono de edición */
.edit-icon {
  color: var(--primary-color); /* Cambiado al color primario */
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  border: 2px solid var(--primary-color); /* Añadido borde */
  border-radius: 50%; /* Borde circular */
  width: 40px; /* Tamaño fijo */
  height: 40px; /* Tamaño fijo */
}

.edit-icon:hover {
  background-color: var(--primary-color); /* Fondo al hacer hover */
  color: #ffffff; /* Cambia el color del ícono al hacer hover */
}

.edit-icon svg {
  width: 20px; /* Ajusta el tamaño del SVG */
  height: 20px; /* Ajusta el tamaño del SVG */
  stroke: currentColor; /* Usa el color actual del contenedor */
}

/* Tamaño de fuente unificado */
.card-body {
  font-size: var(
    --font-size-medium
  ); /* Tamaño uniforme para todo el contenido */
}

.card-body * {
  font-size: var(
    --font-size-medium
  ); /* Asegura que todos los elementos dentro de .card-body tengan el mismo tamaño */
  font-family: var(
    --secondary-font
  ); /* Aplica la fuente secundaria a todos los elementos */
}

/* Estilo de los inputs para que coincidan con los textos */
input.form-control {
  border: none;
  background: none;
  font-size: inherit;
  font-family: var(
    --secondary-font
  ) !important; /* Aplica la fuente secundaria directamente al input */
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 1.5em; /* Ajusta según sea necesario */
  line-height: 1.5em;
  border-radius: 0px;
  border-bottom: 1px solid black; /* Línea negra inicialmente */
  transition: border-bottom-color 0.3s ease; /* Transición suave al cambiar de color */
}

input.form-control:focus {
  border-bottom-color: var(
    --primary-color
  ); /* Línea del color primario al enfocarse */
  outline: none; /* Asegura que no haya otro borde */
}

/* Asegurar que las direcciones estén alineadas a la izquierda */
.card-body .row .col-sm-6 {
  text-align: left;
}

/* Espaciado adicional entre las direcciones */
.card-body .mb-4 {
  margin-bottom: 1.5rem;
}

/* Alinear verticalmente las filas de edición */
.row.mb-2 {
  align-items: center;
}

/* Botón guardar */
.btn-cancelar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color) !important; /* Fondo secundario */
  color: #000 !important; /* Texto negro */
  border: 1px solid black;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  position: relative; /* Aislar estilos */
  z-index: 10;
  cursor: pointer;
}

.btn-cancelar:hover,
.btn-cancelar:focus {
  background-color: var(
    --secondary-color
  ) !important; /* Forzar el color secundario */
  color: #000 !important; /* Texto negro */
  transform: translateY(-3px);
  box-shadow: 5px 5px 0px 0px black;
  cursor: pointer;
}

/* Botón Carrito */
.btn-guardar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color) !important; /* Fondo primario */
  color: #ffffff !important; /* Texto blanco */
  border: 1px solid black;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  position: relative; /* Aislar estilos */
  z-index: 10;
}

.btn-guardar:hover,
.btn-guardar:focus {
  background-color: var(
    --primary-color
  ) !important; /* Forzar el color primario */
  color: #ffffff !important; /* Texto blanco */
  transform: translateY(-3px);
  box-shadow: 5px 5px 0px 0px black;
}
:root {
  --font-size-medium: 16px; /* Define el tamaño de fuente medio */
}

.header-title {
  font-weight: 700;
  font-family: var(--secondary-font);
}

/* Estilos del menú lateral */
.list-group-item,
.list-group-item-action {
  text-decoration: none !important;
  color: #000 !important;
  border-radius: 5px !important;
  padding: 6px 12px !important;
  font-size: var(--font-size-medium) !important;
  cursor: pointer;
  background-color: transparent !important;
  border: none !important;
  text-align: left;
}

.list-group-item:hover,
.list-group-item-action:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.list-group-item.active {
  background-color: #ffffff !important;
  color: #000000 !important;
  font-weight: bold !important;
}

/* Estilo para el ícono de edición */
.edit-icon {
  color: var(--primary-color); /* Cambiado al color primario */
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  border: 2px solid var(--primary-color); /* Añadido borde */
  border-radius: 50%; /* Borde circular */
  width: 40px; /* Tamaño fijo */
  height: 40px; /* Tamaño fijo */
}

.edit-icon:hover {
  background-color: var(--primary-color); /* Fondo al hacer hover */
  color: #ffffff; /* Cambia el color del ícono al hacer hover */
}

.edit-icon svg {
  width: 20px; /* Ajusta el tamaño del SVG */
  height: 20px; /* Ajusta el tamaño del SVG */
  stroke: currentColor; /* Usa el color actual del contenedor */
}

/* Tamaño de fuente unificado */
.card-body {
  font-size: var(
    --font-size-medium
  ); /* Tamaño uniforme para todo el contenido */
}

.card-body * {
  font-size: var(
    --font-size-medium
  ); /* Asegura que todos los elementos dentro de .card-body tengan el mismo tamaño */
  font-family: var(
    --secondary-font
  ); /* Aplica la fuente secundaria a todos los elementos */
}

/* Estilo de los inputs para que coincidan con los textos */
input.form-control {
  border: none;
  background: none;
  font-size: inherit;
  font-family: var(
    --secondary-font
  ) !important; /* Aplica la fuente secundaria directamente al input */
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 1.5em; /* Ajusta según sea necesario */
  line-height: 1.5em;
  border-radius: 0px;
  border-bottom: 1px solid black; /* Línea negra inicialmente */
  transition: border-bottom-color 0.3s ease; /* Transición suave al cambiar de color */
}

input.form-control:focus {
  border-bottom-color: var(
    --primary-color
  ); /* Línea del color primario al enfocarse */
  box-shadow: none !important;
}

/* Asegurar que las direcciones estén alineadas a la izquierda */
.card-body .row .col-sm-6 {
  text-align: left;
}

/* Espaciado adicional entre las direcciones */
.card-body .mb-4 {
  margin-bottom: 1.5rem;
}

/* Alinear verticalmente las filas de edición */
.row.mb-2 {
  align-items: center;
}

/* Botón guardar */
.btn-cancelar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color) !important; /* Fondo secundario */
  color: #000 !important; /* Texto negro */
  border: 1px solid black;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  position: relative; /* Aislar estilos */
  z-index: 10;
  cursor: pointer;
}

.btn-cancelar:hover,
.btn-cancelar:focus {
  background-color: var(
    --secondary-color
  ) !important; /* Forzar el color secundario */
  color: #000 !important; /* Texto negro */
  transform: translateY(-3px);
  box-shadow: 5px 5px 0px 0px black;
  cursor: pointer;
}

/* Botón Carrito */
.btn-guardar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color) !important; /* Fondo primario */
  color: #ffffff !important; /* Texto blanco */
  border: 1px solid black;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  position: relative; /* Aislar estilos */
  z-index: 10;
}

.btn-guardar:hover,
.btn-guardar:focus {
  background-color: var(
    --primary-color
  ) !important; /* Forzar el color primario */
  color: #ffffff !important; /* Texto blanco */
  transform: translateY(-3px);
  box-shadow: 5px 5px 0px 0px black;
}

/* Paginación */
.page-item.active .page-link {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border: 1px solid #ccc !important;
}
.page-link {
  background-color: var(--secondary-color) !important;
  color: #000 !important;
  border: 1px solid #ccc !important;
  transition: background-color 0.3s, color 0.3s;
}
.page-link:hover {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.page-link:focus {
  box-shadow: none;
}

.btn-hover {
  padding: 10px;
  margin: 0;
}

/* Botón Cuenta */
#boton_cancelar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color) !important; /* Fondo secundario */
  color: #000 !important; /* Texto negro */
  border: 1px solid black;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  position: relative; /* Aislar estilos */
  z-index: 10;
  cursor: pointer;
}

#boton_cancelar:hover,
#boton_cancelar:focus {
  background-color: var(
    --secondary-color
  ) !important; /* Forzar el color secundario */
  color: #000 !important; /* Texto negro */
  transform: translateY(-3px);
  box-shadow: 5px 5px 0px 0px black;
  cursor: pointer;
}

/* Botón Carrito */
#boton_guardar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color) !important; /* Fondo primario */
  color: #ffffff !important; /* Texto blanco */
  border: 1px solid black;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  position: relative; /* Aislar estilos */
  z-index: 10;
}

#boton_guardar:hover,
#boton_guardar:focus {
  background-color: var(
    --primary-color
  ) !important; /* Forzar el color primario */
  color: #ffffff !important; /* Texto blanco */
  transform: translateY(-3px);
  box-shadow: 5px 5px 0px 0px black;
}

.text-success {
  color: var(--primary-color) !important;
}
